<ngx-loading [show]="isLoading | async" [config]=""></ngx-loading>
<div class="header">
  <h2>HN Feed</h2>
  <h4>We &lt;3 hacker news</h4>
</div>
<div class="content">
  <div (scroll)="onElementScroll($event)" class="list" *ngIf="data && data.length > 0">
    <div (mouseover)="onMouseOver(item)" (mouseleave)="onMouseLeave(item)" class="row" *ngFor="let item of data; index as i">
      <div class="title">{{item.storyTitle || item.title}} <span class="author">- {{item.author}} -</span></div>
      <div class="date">{{ item.createdAt | amCalendar }}</div>
      <div class="remove-button" >
        <img (click)="delete(item, i)" [id]="item.storyId" src="assets/images/trash-outline.svg">
      </div>
    </div>
  </div>
</div>