/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  height: 12vh;
  width: 100%;
  background-color: #333;
  color: #fff;

  h2 {
    padding: 10px 10px 0;
    margin: 0;
  }

  h4 {
    padding: 3px 10px;
    margin: 0;
  }
}

.content {
  width: 100%;
  height: 88vh;
  overflow: hidden;

  .list {
    position: absolute;
    width: 100%;
    max-height: 88vh;
    overflow: auto;

    .row {
      font-size: 13pt;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      display: flex;
      height: 20px;
      padding: 10px 0;
      color: #333;

      .title {
        flex: 6;
        margin-left: 10px;

        .author {
          color: #999;
        }
      }
      .date {
        flex: 2;
        text-align: center;
      }
      .remove-button {
        flex: 1;
        text-align: end;
        color: #000;
        cursor: pointer;
        
        img {
          width: 20px;
          height: 20px;
          display: none;
          margin: auto;
        }
      }
    }

    .row:hover {
      background-color: #fafafa;
    }
  }
}

/* ngx-loading*/
ngx-loading {
  .backdrop {
    position: fixed !important;
  }
  .spinner-three-bounce {
    position: fixed !important;
  }
}
